
/**
* Loader
*/
$base-line-height: 100px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$spin-duration: 500ms;
$pulse-duration: 500ms;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    background: $white;
  }
}

.loading-background{
  background: rgba(255,255,255,0.2);
  position: fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 9999999999;
}
.loading {
  border-radius: 50%;
  position: fixed;
  top:50%;
  left:50%;
  margin-left: -50px;
  margin-top:-50px;
  width: $base-line-height;
  height: $base-line-height;
  border: .25rem solid rgba(0,0,0,0.2);
  border-top-color: black;
  animation: spin $spin-duration infinite linear;
  z-index: 9999999999;
  &--double {
    border-style: double;
    border-width: .5rem;
  }
}

@media (max-width: 767px){
  .loading{
    margin-left: -50px;
  }
}

.loading-pulse {
  position: relative;
  width: ($base-line-height / 4);
  height: $base-line-height;
  background: $off-white;
  animation: pulse $pulse-duration infinite;
  animation-delay: ($pulse-duration / 3);
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    height: ($base-line-height / 1.5);
    width: ($base-line-height / 4);
    background: $off-white;
    top: 50%;
    transform: translateY(-50%);
    animation: pulse $pulse-duration infinite;
  }
  &:before {
    left: -($base-line-height / 2);
  }
  &:after {
    left: ($base-line-height / 2);
    animation-delay: ($pulse-duration / 1.5);
  }
}





