@import "_uploader";
@import "_menuItem";
@import "_loader";

/**
 * hide this field, unecessary for user but necessary for uploader
 */
.imageable{
  display:none
}

/**
 * page and article style edit textaera
 */
.CodeMirror{
  max-width: 98%;
  z-index: 0;
}


/**
 * logout link
 */
.nav>li>a.logout-link{
  color:white;
  display: inline-block;

  &:hover{
    background: inherit;
    color: inherit;
  }
}


/**
 * Menu item list
 */
#easyadmin-list-MenuItem {

  /**
  * hide because no need
  */
  .action-search{
    display:none;
  }

  /**
   * moove but not hide because we need to trigger click on edit action click on sortable menu list
   */
  table{
    position: absolute;
    opacity: 0;
    left:-1000000000%;
  }

  /**
  * actions on menu item sortable list
  */
  .menuItemList li .action{
    float:right;
  }

}




/**
* handle margin for darkroom toolbar
*/
.easyadmin.edit-image {
  #image_alt{
    margin-bottom: 50px;
  }
}


.disabled{
  cursor:default;
  opacity: 0.3;
}


.theme-item{
  padding:10px;
  .theme-item-inner{

    box-sizing: border-box;

    h3{
      margin-top:5px;
    }

    div:not(.toggle-group){
      margin: 5px;
    }

    b{
      display: inline-block;
      width: 100px;
    }

    .actions{
      margin-top:15px!important;
      a{
        margin-right: 5px;
      }
    }

    .easyadmin-thumbnail img{
      max-height: inherit;
    }

    small{
      font-style: italic;
      margin-left:5px;
    }
  }
}


//font-weight
.main-header .logo,
.sidebar-menu li a,
button,
table thead  th a,
.btn,
.navbar li,
.navbar li a,
.dd3-content{
  font-weight: 100!important;
}

//navbar background color
.sidebar-menu > li > a,
.sidebar-menu .treeview-menu > li > a,
.main-sidebar, .wrapper{
  background:#222!important
}

//primary background color
.main-header > .navbar,
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
body.list table thead th.sorted,
body.list table thead th.sorted a,
.btn-primary:active:hover,
body.list .table thead tr th.sorted,
body.list .table thead tr th:first-child.sorted{
  background-color: #95a5a6!important;
  border-color: #95a5a6!important;
  border-bottom-color: #95a5a6!important;
}

body.list .table thead tr th.sorted{
  border-bottom: 2px outset #95a5a6;
}
//toggle
.toggle-group .toggle-on,
.toggle-group .toggle-on.btn-xs,
.toggle-group .toggle-on:hover,
.toggle-group .toggle-on:active,
.toggle-group .toggle-on:active:hover{
  background: #27ae60;
  border-color: #27ae60;
}

.toggle-group .toggle-off,
.toggle-group .toggle-off.btn-xs,
.toggle-group .toggle-off:hover,
.toggle-group .toggle-off:active,
.toggle-group .toggle-off:active:hover{
  border-color: #e74c3c;
  background:#e74c3c;
}

input[type=text],
input[type=email],
textarea,
select{
  border:none!important;
}


//box
.box{
  border:none!important;
}

//thumb
body.list table tbody td.image .easyadmin-thumbnail img{
  border-width: inherit;
  max-height: inherit;
}

body.list td.image{
  text-align: left;
}