@import "_uploader";
@import "_menuItem";
@import "_loader";

/**
 * hide this field, unecessary for user but necessary for uploader
 */
.imageable{
  display:none
}

/**
 * page and article style edit textaera
 */
.CodeMirror{
  max-width: 98%;
  z-index: 0;
}


/**
 * logout link
 */
.nav>li>a.logout-link{
  color:white;
  display: inline-block;

  &:hover{
    background: inherit;
    color: inherit;
  }
}


/**
 * Menu item list
 */
#easyadmin-list-MenuItem {

  /**
  * hide because no need
  */
  .action-search{
    display:none;
  }

  /**
   * moove but not hide because we need to trigger click on edit action click on sortable menu list
   */
  table{
    position: absolute;
    opacity: 0;
    left:-1000000000%;
  }

  /**
  * actions on menu item sortable list
  */
  .menuItemList li .action{
    float:right;
  }

}




/**
* handle margin for darkroom toolbar
*/
.easyadmin.edit-image {
  #image_alt{
    margin-bottom: 50px;
  }
}
