/app/config/parameters.yml
/app/Resources/views/themes/*
!/app/Resources/views/themes/default
/build/
/phpunit.xml
/var/*
/web/uploads/*
/web/media/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/themes
.idea
.DS_Store

