{% extends '::base.html.twig' %}

{% set page_title = '' %}
{% set page_description = '' %}

    {% block body %}
        <h1>{{ entity.title }}</h1>
        {{ dump(entity) }}
        {{ app_twig.getCommentForm(entity)|raw }}
    {% endblock body %}

{% block javascripts %}
{% endblock javascripts %}
