{% trans_default_domain 'FOSUserBundle' %}
<div class="col-md-4 col-md-offset-4 panel panel-default" id="reset-passord">
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <h2>Reset mot de passe</h2>
        <div class="form-group">
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}
            <label class="control-label" for="username">{{ 'resetting.request.username'|trans }}</label>
            <input class="form-control" type="text" id="username" name="username" required="required" />
        </div>
        <div class="form-group" style="text-align: right">
            <input type="submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
    </form>
</div>
