{% extends '::base.html.twig' %}

{% set page_title = '' %}
{% set page_description = '' %}

    {% block body %}
        {{ dump(entity) }}
        <div>
            {{ app_twig.getCommentForm(entity)|raw }}
        </div>
        <div>
            {{ app_twig.getCommentList(entity)|raw }}
        </div>
    {% endblock body %}

{% block javascripts %}
{% endblock javascripts %}
